#flavor {
  margin-top: 20px
}

#food {
  margin-top: 20px
}

#vaycay {
  margin-top: 20px
}

#pet {
  margin-top: 20px
}

#hobbies {
  margin-top: 20px
}

#button {
  margin-top: 20px
}

#result {
  margin-top: 20px
}

#detroit {
  display: none;
}

#sandusky {
  display: none;
}

#trenton {
  display: none;
}
